.body {
  background-color: #f3f9ff;
}
.block {
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #222588;
  border-radius: 25px;
  width: 70%;
}
#date {
  margin-top: 5px;
  padding-left: 5%;
  display: inline-flex;
  position: relative;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.6vw;
  color: #fff;
}
#place {
  margin-top: 5px;
  padding-left: 10%;
  padding-right: 6%;
  display: inline-flex;
  position: relative;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.6vw;
  color: #fff;
}
#last_date {
  margin-bottom: 5px;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.6vw;
  color: #fff;
}
.carousel {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 0px;
}
.heading {
  text-align: center;
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  font-size: 2em;
  line-height: 47px;
  margin-top: 30px;
}
.line {
  background-color: #053d4d;
  width: 20%;
  height: 4px;
}
.recom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.flex-container {
  display: flex;
  align-items: center;
}

.flex-container > div {
  margin: 10px;
}

.recomblogs {
  background-color: #c5c7ca;
  height: 9%;
  width: 100%;
  overflow-x: scroll;
}
.nav button {
  border: 0;
  background-color: #f3f9ff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.nav button i {
  font-size: 30px;
}
.nav .prev {
  left: -40px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -40px;
}
.nav .next.hide {
  display: none;
}
.card > * {
  flex: 1;
}
.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card .info {
  flex-basis: 40px;
  background: #222588;
  color: #c4c4c4;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 760px){
  #date {
    margin-top: 5px;
    padding-left: 5%;
    display: inline-flex;
    position: relative;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2.3vw;
    color: #fff;
  }
  #place {
    margin-top: 5px;
    padding-left: 10%;
    padding-right: 6%;
    display: inline-flex;
    position: relative;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2.3vw;
    color: #fff;
  }
  #last_date {
    margin-bottom: 5px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2.3vw;
    color: #fff;
  }
}
@media (max-width: 560px){
  .block {
    box-sizing: border-box;
    margin: 0px;
    padding: 3px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #222588;
    border-radius: 25px;
    width: 70%;
  }
  #date {
    margin: 0%;
    padding: 0px;
    padding-left: 5%;
    display: inline-flex;
    position: relative;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 3.4vw;
    color: #fff;
  }
  #place {
    margin: 0%;
    padding: 0px;
    padding-left: 5%;
    display: inline-flex;
    position: relative;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 3.4vw;
    color: #fff;
  }
  #last_date {
    margin: 0%;
    padding: 3px;
    padding-left: 5%;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 3vw;
    color: #fff;
  }
  
}
@media (min-width: 720px) {
  .carousel {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 70px;
  }
}
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.carousel-container {
  width: 100%;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}

.carousel-container .carousel-inner {
  overflow: hidden;
}
.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container .card-container {
  width: 33%;
  flex-shrink: 0;
  height: 250px;
  padding-right: 15px;
  box-sizing: border-box;
}
@media (max-width:770px){
  .carousel-container .card-container {
    width: 56%;
    flex-shrink: 0;
    height: 250px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}
.carousel-container .card-container .card {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
/* img:hover {
  background-color: #053d4d;
} */

/* Modal css */
.modal-event {
  background: #222588;
  color: white;
}
.modal-dialog{
  max-width: 800px;
  /* min-height: auto; */
}
 .modal-box{
   background: #DEE8F6;
  }
.event-name{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
text-align: center;
}
.event-des{
  font-weight: 300;
}
.event-details{
  margin-bottom: 4px;
  font-size: 12px;
}

@media only screen and (max-width: 760px){
  .modal-box{
    flex-direction: column;
  }
  .modal-box div{
    width: 100%;
  }
  .modal-dialog{
    width: 80%;
  }
}
@media only screen and (max-width: 580px){
  .modal-dialog{
    width: 60%;
    margin: 1rem auto;
  }
  .event-name{
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 2px;
  }
  .event-des{
    text-align: start !important;
  }
}