body{
    background-color: transparent;
}
.Our_AIM {
  padding-right: 2em;
  width: 100%;
  padding-top: 10px;
  background: linear-gradient(180deg, #d3dff1 82.81%, #fff 100%);
}
.Pledge {
  padding-right: 2em;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  background: #fff;
}
.aim {
  width: 50%;
  margin-left: 25%;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  background: #053d4d;
  border-radius: 12px;
  border-radius: 12px;
}
.pldge {
  width: 50%;
  margin-left: 25%;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 15px;
  background: #053d4d;
  border-radius: 12px;
  border-radius: 12px;
}
.flex-container {
  display: flex;
  align-items: center;
}

.aim-pledge-heading {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.2em;
  margin: 0px;
  color: #fff;
}
.pics {
  margin-top: 20px;
  margin-left: 0px;
  width:550px;
 
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 100%;
  line-height: 26px;
  margin: 1.5em;
  text-align: justify;
  color: #1b1b1b;
}
@media (max-width: 970px) {
  .Our_AIM {
    padding-right: 0px;
  }
  .Pledge {
    padding-right: 0px;
  }
  .flex-container {
    flex-direction: column;
  }
  .pics {
    width: 80%;
  }
  .aim {
    width: 88%;
    margin-left: 6%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    background: #053d4d;
    border-radius: 12px;
    border-radius: 12px;
  }
  ul{
    margin-right: 25px;
  }
  .pldge {
    width: 88%;
    margin-left: 6%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #053d4d;
    border-radius: 12px;
    border-radius: 12px;
  }
}
